<h1>id: <%= params[:id] %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>タスク名</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>id</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to '編集する', edit_task_path(@task), class: "btn btn-default" %>
<%= link_to '削除する', @task, method: :delete, data: { confirm: '本当に削除してもよろしいですか？'}, class: "btn btn-danger" %>