<h1>id: <%= params[:id] %> のタスク詳細ページ</h1>

<p><%= @task.title %> &gt; <%= @task.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to '編集する', edit_task_path %>
<%= link_to '削除する', @task, method: :delete, data: { confirm: '本当に削除してもよろしいですか？'} %>