<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <dib class="panel-body">
        <img class="media-object img rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </dib>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nab-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>タスクリスト <span class="badge"><%= @count_tasks %></span><% end %></li>
    </ul>
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
</div>
